<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.user.mapper.UserMapper">
    <insert id="register">
        INSERT INTO
            user
            (id, user_name, nick_name, password, email, create_time, update_time)
            VALUE
            (#{id},#{userRegisterDto.userName},#{userRegisterDto.nickName},#{userRegisterDto.password},#{userRegisterDto.email},now(),now())
    </insert>
    <update id="updateRefreshTokenById">
        UPDATE user SET refresh_token=#{refreshToken},update_time=now() WHERE id=#{id}
    </update>
    <update id="updatePasswordById">
        UPDATE user SET password=#{password} ,update_time=now() WHERE id=#{id}
    </update>

    <select id="selectByUserName" resultType="top.woaibocai.model.Do.user.UserLoginDo">
        SELECT
            id, password, refresh_token, status
        FROM
            user
        WHERE
            user_name=#{userName}
    </select>
    <select id="userNameValidate" resultType="java.lang.Integer">
        SELECT count(*) FROM user WHERE user_name=#{userName}
    </select>
    <select id="emailValidate" resultType="java.lang.Integer">
        SELECT count(*) FROM user WHERE email=#{email}
    </select>
    <select id="userInfo" resultType="top.woaibocai.model.vo.user.UserInfoVo">
        SELECT
            nick_name,avatar,sex,id AS userId
        FROM
            user
        WHERE
            id=#{id}
    </select>
    <select id="nickNameValidate" resultType="java.lang.Integer">
        SELECT count(*) FROM user WHERE nick_name=#{nickName}
    </select>
    <select id="selectIdEmailByUserName" resultType="top.woaibocai.model.common.User">
        SELECT
            id,email
        FROM
            user
        WHERE
            user_name=#{userName}
    </select>
    <select id="selectUserNameByEmail" resultType="java.lang.String">
        SELECT
            user_name
        FROM
            user
        WHERE email=#{email}
    </select>
</mapper>