<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.manager.mapper.ArticleMapper">
    <!--IPage<ArticlePageVo> findPage(@Param("page") IPage<ArticlePageVo> page);-->
    <select id="findPage" resultType="top.woaibocai.model.vo.manager.ArticlePageVo">
        select
            id,title,is_top,view_count,is_commont,status,is_deleted,create_time,update_time
        from
            blog_article
        order by create_time
    </select>
</mapper>