<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.manager.mapper.TagMapper">
    <insert id="insertTag">
        insert into
            blog_tag
            (id,tag_name,remark,create_time,update_time)
            value
            (#{id},#{tagName},#{remark},now(),now())
    </insert>
    <update id="deleted">
        UPDATE blog_tag SET is_deleted=1 WHERE id=#{id}
    </update>
    <update id="updateTag">
        UPDATE blog_tag SET tag_name=#{tagName},remark=#{remark},update_time=now() WHERE id=#{id}
    </update>
    <select id="findByTageName" resultType="top.woaibocai.model.entity.blog.Tag">
        SELECT
            id,tag_name,remark
        FROM
            blog_tag
        <where>
            <if test="queryTagDto.tagName != null and queryTagDto.tagName != ''">
                AND tag_name LIKE concat('%',#{queryTagDto.tagName},'%')
            </if>
            AND is_deleted=0
        </where>
        ORDER BY update_time DESC

    </select>
    <select id="getAllTagAndId" resultType="top.woaibocai.model.vo.manager.TagVo">
        SELECT
            id AS id,
            tag_name AS name
        FROM
            blog_tag
        WHERE
            is_deleted=0
    </select>
</mapper>