<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.blog.mapper.ArticleTagMapper">
    <select id="tagByArticleCount" resultType="top.woaibocai.model.Do.blog.TagHasArticleCountDo">
        SELECT
            tag_id,
            COUNT(DISTINCT article_id) AS article_count
        FROM
            blog_article_tag
        GROUP BY
            tag_id
    </select>
    <select id="articleHasTags" resultType="top.woaibocai.model.Do.blog.ArticleHasTagsDo">
        SELECT
            article_id,
            GROUP_CONCAT(tag_id) AS tagIdListString
        FROM
            blog_article_tag
        GROUP BY
            article_id;

    </select>
    <select id="articleHasTag" resultType="java.lang.String">
        SELECT
            tag_id
        FROM
            blog_article_tag
        WHERE
            article_id=#{id}
    </select>
    <select id="TagIdTagNameByArticleId" resultType="top.woaibocai.model.vo.blog.tag.TagInfo">
        SELECT
            bat.tag_id AS id,
            bt.tag_name AS tagName,
            bt.tag_url AS tagUrl
        FROM
            blog_article_tag bat
            INNER JOIN blog_article ba ON bat.article_id = ba.id
            INNER JOIN blog_tag bt ON bat.tag_id = bt.id
        WHERE
            ba.id=#{id}
    </select>
</mapper>