<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.blog.mapper.CategoryMapper">
    <select id="categoryNameAnddeScription" resultType="top.woaibocai.model.entity.blog.Category">
        SELECT
            category_name,description
        FROM
            blog_category
        WHERE is_deleted=0 AND category_url=#{categoryUrl}
    </select>
    <select id="categoryOfUrlNameIcon" resultType="top.woaibocai.model.vo.blog.category.CategoryUrlNameIconVo">
        SELECT
            category_url,category_name,category_icon_url,count
        FROM (
                 SELECT
                     bc.category_url AS category_url,
                     bc.category_name AS category_name,
                     bc.category_icon_url AS category_icon_url,
                     COUNT(ba.id) AS count,
                     MAX(bc.update_time) AS update_time
                 FROM
                     blog_category bc
                         LEFT JOIN
                     blog_article ba ON bc.id = ba.blog_category_id AND ba.status = '1'
                 WHERE
                     bc.is_deleted = 0
                 GROUP BY
                     bc.category_url, bc.category_name, bc.category_icon_url
             ) AS sub
        ORDER BY update_time ASC

    </select>
    <select id="selectCategoryUrlAndTime" resultType="top.woaibocai.model.vo.blog.other.Sitemap">
        SELECT
            category_url AS loc,update_time AS lastmod
        FROM
            blog_category
        WHERE is_deleted=0 ORDER BY update_time ASC
    </select>
</mapper>