<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.blog.mapper.CategoryMapper">

    <select id="getAllCategory" resultType="top.woaibocai.model.vo.blog.category.CategoryAllVo">
        SELECT
            id,category_name
        FROM
            blog_category
         WHERE
             is_deleted=0
    </select>
    <select id="categoryNameAnddeScription" resultType="top.woaibocai.model.entity.blog.Category">
        SELECT
            category_name,description
        FROM
            blog_category
        WHERE is_deleted=0 AND category_url=#{categoryUrl}
    </select>
</mapper>