<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.blog.mapper.CategoryMapper">
    <select id="categoryNameAnddeScription" resultType="top.woaibocai.model.entity.blog.Category">
        SELECT
            category_name,description
        FROM
            blog_category
        WHERE is_deleted=0 AND category_url=#{categoryUrl}
    </select>
    <select id="categoryOfUrlNameIcon" resultType="top.woaibocai.model.vo.blog.category.CategoryUrlNameIconVo">
        SELECT
            category_url,category_name,category_icon_url
        FROM
            blog_category
        WHERE is_deleted=0
        ORDER BY update_time ASC
    </select>
</mapper>