<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.woaibocai.blog.mapper.TagMapper">
    <select id="tagName" resultType="top.woaibocai.model.entity.blog.Tag">
        SELECT id,tag_name FROM blog_tag WHERE is_deleted=0
    </select>
    <select id="tagNameAndRemark" resultType="top.woaibocai.model.entity.blog.Tag">
        SELECT
            tag_name AS tagName,
            remark AS remark
        FROM
            blog_tag
        WHERE
            is_deleted=0 AND tag_url=#{tagUrl}
    </select>
    <select id="TagNameURlColor" resultType="top.woaibocai.model.vo.blog.tag.TagCloudVo">
        SELECT
            tag_name,tag_url,color
        FROM
            blog_tag
        WHERE
            is_deleted=0
        ORDER BY update_time ASC
    </select>
</mapper>